agm-map {
    height: 700px;
}

agm-marker label {
    color: 'white';
    font-weight: 'bold';
    font-size: '16px';
    background-color:'red'
}

agm-info-window {
    white-space: normal;
}

.gm-ui-hover-effect .gm-style-iw .gm-style-iw-d {
    white-space: normal;
}